.contain {
  padding: 0 50px 50px 50px;
  height: 100vh;
}

.top-content {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  height: 40%;
}

.inner-content-left {
  display: flex;
  justify-content: space-between;
  flex: 30%;
  gap: 15px;
}

.first {
  flex: 43%;
}

.card-first {
  background-color: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(8px);
  border-radius: 25px !important;
  height: 100%;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.44);
}

.logo {
  width: 100%;
  /* height: 65%; */
  object-fit: contain;
  border-radius: 5px !important;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.44);
}

.Logo {
  background-image: url(/public/logo-company.jpeg);
}

.logo-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 15px 0px 15px;
}

.logo-title {
  font-size: 140%;
  text-align: center;
  line-height: 130%;
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.second {
  flex: 57%;
}

.card-second {
  background-color: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(8px);
  border-radius: 25px !important;
  padding: 20px;
  height: 100%;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.44);
}

.degree {
  font-size: 5rem;
  text-align: center;
  line-height: 90%;
  font-family: "Public Sans", sans-serif;
  font-weight: 100;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.card-second-title {
  font-size: 160%;
  text-align: center;
  line-height: 1.2;
  font-family: "Public Sans", sans-serif;
  font-weight: 100;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.card-second-content {
  font-size: 1.7rem;
  text-align: center;
  line-height: 1.2;
  font-family: "Public Sans", sans-serif;
  font-weight: 100;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.humidity-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0 20px 0 20px;
}

.inner-content-right {
  display: flex;
  justify-content: space-between;
  flex: 70%;
  gap: 15px;
}

.inner-top-content {
  /* border-width: 1px !important;
  border-color: #000000 !important;
  border-style: solid; */
  flex: 1;
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.p-two {
  margin-left: 10px;
}

.card-two {
  background-color: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(8px);
  border-radius: 25px !important;
  padding: 10px 10px 10px 20px;
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.44);
}

.icon-container {
  flex: 20%;
  /* padding-top: 5px; */
  align-items: center;
  display: flex;
}

.Money {
  background-image: url(./images/coin.png);
  background-position: center;
  background-size: cover;
}

.icon {
  width: 15%;
  /* height: 100%; */
  border-radius: 100% !important;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.44);
  align-self: "center";
}

.content-container {
  flex: 75%;
  align-items: center;
  margin: auto;
}

.inner-content-container {
  display: flex;
  align-items: flex-end;
}

.content {
  margin: 0;
  font-size: 205%;
  line-height: 110%;
  font-family: "Public Sans", sans-serif;
  font-weight: 100;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.content-two {
  margin: 0;
  font-size: 2.2rem;
  line-height: 110%;
  font-family: "Public Sans", sans-serif;
  font-weight: 100;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.sub-content {
  margin: 0;
  font-size: 1.2rem;
  font-family: "Public Sans", sans-serif;
  font-weight: 100;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding-left: 5px;
}

.inner-content-tree {
  display: flex;
  align-items: center;
  height: 100%;
  flex: 75%;
  align-self: center;
}

.content-tree {
  margin: 0;
  font-size: 4rem;
  line-height: 1.8;
  font-family: "Public Sans", sans-serif;
  font-weight: 100;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.sub-content-tree {
  margin: 0;
  font-size: 2rem;
  line-height: 1.2;
  font-family: "Public Sans", sans-serif;
  font-weight: 100;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
  /* margin-left: -10px; */
}

.inner-content-power {
  display: flex;
  padding: 5px 0;
}

.content-power {
  margin: 0;
  font-size: 2rem;
  line-height: 1.7;
  font-family: "Public Sans", sans-serif;
  font-weight: 100;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.sub-content-power {
  margin: 0;
  font-size: 535%;
  line-height: 65px;
  font-family: "Public Sans", sans-serif;
  font-weight: 200;
  color: #f3c321;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.sub-content-power-two {
  margin: auto 0;
  font-size: 335%;
  line-height: 56px;
  font-family: "Public Sans", sans-serif;
  font-weight: 200;
  color: #f3c321;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding-left: 10px;
}

.inner-content-eco {
  display: flex;
}

.content-eco {
  margin: 0;
  font-size: 200%;
  line-height: 40px;
  font-family: "Public Sans", sans-serif;
  font-weight: 100;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.sub-content-eco {
  margin: 0;
  font-size: 4rem;
  line-height: 1.2;
  font-family: "Public Sans", sans-serif;
  font-weight: 100;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.sub-content-eco-two {
  margin: 0;
  font-size: 1.7rem;
  line-height: 1.3;
  font-family: "Public Sans", sans-serif;
  font-weight: 100;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
  /* margin-left: -20px; */
}

.bottom-content {
  /* margin-top: 30px; */
  height: 65%;
}

.card-bottom {
  background-color: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(8px);
  border-radius: 25px !important;
  padding: 15px 20px;
  height: 100%;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.44);
  display: flex;
}

.big-container {
  flex: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-width: 1px !important;
  border-color: #000000 !important;
  border-style: solid; */
}

.big-container-chart {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-width: 1px !important;
  border-color: #000000 !important;
  border-style: solid; */
}

.big-container-title {
  padding: 25px 0px;
  font-size: 300%;
  line-height: 26px;
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.minutes {
  position: absolute;
  bottom: 5%;
  font-size: 10px;
  font-family: "Public Sans", sans-serif;
  font-weight: 500;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.small-container {
  border-width: 0px 1px 0px 1px !important;
  border-color: #b9b7c2 !important;
  border-style: solid;
  flex: 10%;
  /* justify-content: center; */
  align-items: "center";
  display: flex;
  flex-direction: column;
  padding: 25px 5px;
  /* border-width: 1px !important;
  border-color: #000000 !important;
  border-style: solid; */
}

.IQAir {
  background-image: url(./images/iqair_logo.png);
  background-position: center;
  background-size: cover;
}

.iqAir {
  width: 85%;
  align-self: "center";
  margin: 0 auto;
}

.status-container {
  background-color: #d7c889 !important;
  width: 100%;
  padding: 5px;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.44);
  margin: 15px auto;
  display: flex;
  align-items: center;
  border-radius: 10px !important;
}

.status {
  font-size: 24px;
  font-family: "Public Sans", sans-serif;
  font-weight: 200;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin: 0 auto;
}

.value {
  font-size: 32px;
  font-family: "Public Sans", sans-serif;
  font-weight: 200;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin: 0 auto;
}

.sub-value {
  font-size: 14px;
  font-family: "Public Sans", sans-serif;
  font-weight: 200;
  line-height: 0;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin: 0 auto;
}

.Face {
  background-image: url(./images/face-shadow.png);
  background-position: center;
  background-size: cover;
}

.face {
  width: 80%;
  align-self: "center";
  margin: 0 auto;
  margin-top: 15px;
}

.value-bottom {
  font-size: 48px;
  font-family: "Public Sans", sans-serif;
  font-weight: 200;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin: 0 auto;
}

.sub-value-bottom {
  font-size: 28px;
  font-family: "Public Sans", sans-serif;
  font-weight: 200;
  line-height: 10px;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin: 0 auto;
}

.chart-container {
  flex: 1;
  width: 100%;
  height: 33.3%;
  display: flex;
  align-items: flex-start;
  padding: 25px 20px;
}

.chart {
  flex: 90%;
  height: 100%;
}

.label {
  flex: 10%;
  height: 100%;
  padding-left: 10px;
}

.label-text {
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
  font-weight: 200;
  line-height: 10px;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 576px) {
  .contain {
    height: 100%;
  }

  .top-content {
    flex-direction: column;
  }

  .logo-title {
    font-size: 14px;
    text-align: center;
    line-height: 20px;
  }

  .degree {
    font-size: 76px!important;
    text-align: center;
    line-height: 61px;
  }

  .card-second-title {
    font-size: 14px!important;
    text-align: center;
    line-height: 20px;
  }

  .card-second-content {
    font-size: 18px!important;
    text-align: center;
    line-height: 22px;
  }

  .p-two {
    margin-top: 5%;
  }

  .inner-content-right {
    flex-direction: column;
  }

  .card-bottom {
    flex-direction: column;
  }

  .content-container {
    flex: 70%;
    align-items: center;
    padding-top: 0px;
  }

  .content {
    font-size: 16px;
    line-height: 20px;
  }

  .content-two {
    margin: 0;
    font-size: 22px;
    line-height: 26px;
  }

  .sub-content {
    margin: 0;
    font-size: 8px;
  }

  .content-tree {
    margin: 0;
    font-size: 48px;
    line-height: 28px;
  }

  .sub-content-tree {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }

  .content-power {
    margin: 0;
    font-size: 18px;
    line-height: 28px;
  }

  .sub-content-power {
    margin: 0;
    font-size: 38px;
    line-height: 38px;
  }

  .sub-content-power-two {
    margin: 0;
    font-size: 24px;
    line-height: 38px;
  }

  .content-eco {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
  }

  .sub-content-eco {
    margin: 0;
    font-size: 48px;
    line-height: 48px;
  }

  .sub-content-eco-two {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    /* margin-left: -10px; */
  }

  .minutes {
    bottom: 63%;
  }

  .big-container-title {
    font-size: 150%;
    line-height: 26px;
  }

  /* .big-container {
    flex: 100%;
  }

  .big-container-chart {
    flex: 100%;
  } */

  .small-container {
    padding: 0 5px;
    flex: 100%;
  }

  .chart-container {
    height: 100%;
  }

  .face {
    width: 50%;
  }

  .label-text {
    font-size: 12px;
  }

  .pd-0 {
    padding: 1rem;
  }
}

@media (max-width:961px)  {
  .card-stretch {
    width: 100%!important;
  }

  .card-second-title {
    font-size: 2rem;
  }

  .degree {
    font-size: 10rem;
  }

  .card-second-content {
    font-size: 2.3rem;
  }

  .big-container-title {
    font-size: 2rem;
  }
}

@media (min-width:1025px) {
  .content {
    font-size: 1.8rem;
  }

  .content-tree {
    font-size: 3.5rem;
  }

  .sub-content-tree {
    font-size: 1.5rem;
    line-height: 2
  }
}

@media (min-width:1281px) {
  .degree {
    font-size: 8rem;
  }

  .card-second-title {
    font-size: 2rem;
  }

  .card-second-content {
    font-size: 2.3rem;
  }

  .content {
    font-size: 3rem;
  }

  .content-two {
    font-size: 3rem;
  }

  .sub-content {
    font-size: 1.5rem;
  }

  .content-tree {
    font-size: 4.5rem;
  }

  .sub-content-tree {
    line-height: 3;
  }

  .pd-1 {
    padding: 1rem;
  }

  .content-power {
    font-size: 2.5rem;
  }

  .content-eco {
    font-size: 2.5rem;
  }

  .sub-content-eco-two {
    line-height: 2;
    margin-left: 10px;
  }
}
